insightface==1.0.1
onnxruntime==1.26.0
onnx==1.21.0
opencv-python==4.9.0.80
numpy==1.26.4
scikit-image==0.24.0
scikit-learn==1.4.2
matplotlib==3.8.4
streamlit==1.58.0
pandas==2.3.3
Pillow==10.3.0
tqdm==4.66.2
openpyxl==3.1.5
tifffile==2024.8.30
